### For this excersice, please refer the book: 'Hands on machine learning with scikit-learn and tensorflow'.
### Go to chapter two: 'End to End machine learning project'
### You may read this chapter carefully and it has instructions and coding examples to do a complete machine learning project based on a housing price data set.
### (page 43 - 58) and continue the exercise below.

In [ ]:
import os
import tarfile
from six.moves import urlib

In [6]:
# Downloading the dataset:
from sklearn.datasets import fetch_california_housing

In [7]:
housing_fetched = fetch_california_housing()

In [8]:
data =  housing_fetched.data[:]
print(type(data))

<type 'numpy.ndarray'>

In [9]:
print(data.shape)

(20640, 8)

In [4]:
import pandas as pd
housing = pd.DataFrame({'Column1':data[:,0],'Column2':data[:,1], 'Column3':data[:,2],'Column4':data[:,3],'Column5':data[:,4],'Column6':data[:,5],'Column7':data[:,6],'Column8':data[:,7],})

In [5]:
housing.head()

   Column1  Column2   Column3   Column4  Column5   Column6  Column7  Column8
0   8.3252     41.0  6.984127  1.023810    322.0  2.555556    37.88  -122.23
1   8.3014     21.0  6.238137  0.971880   2401.0  2.109842    37.86  -122.22
2   7.2574     52.0  8.288136  1.073446    496.0  2.802260    37.85  -122.24
3   5.6431     52.0  5.817352  1.073059    558.0  2.547945    37.85  -122.25
4   3.8462     52.0  6.281853  1.081081    565.0  2.181467    37.85  -122.25

In [9]:
#housing.info()

In [10]:
#housing.describe()