# 1. Python Programing (1 week)

# Session 1.2: Data types and operators

### 1.2.0 Your first Python code

In [1]:
print('Hello World!')

Hello World!

In [2]:
# this is a comment. the python interpreter ignores it.
# comments are just notes for humans to read to help understand the code
# best practice: add a comment for every couple lines of code to explain what's going on and why
# you'd be amazed at how quickly you forget your code's logic

### 1.2.1 Math in Python

In [3]:
# add two integers
1 + 1

2

In [4]:
# multiply two integers
2 * 3

6

In [5]:
# spaces don't matter here, but keep them consistent for readability
2*3

6

In [6]:
# divide two integers
10/5

2.0

In [7]:
# raise 2 to the 4th power
2**4

16

In [8]:
# take the square root of 9 (by raising it to the power of 0.5)
9 ** (0.5)

3.0

In [80]:
# Modulus
print (10 % 5)

0

In [81]:
# Modulus
print (10 % 3)

1

### 1.2.2 Working with variables

In [9]:
# variables, such as x here, contain values and their values can vary
x = 5

In [10]:
# what is the value of x?
x

5

In [11]:
# you can perform operations on variables, just like you can on two numbers
x + 3

8

In [12]:
# what is the value of x now?
x

5

In [13]:
# to update the value of a variable, you need to do an assignment again
x = x + 3

In [14]:
# and now what is the value of x?
x

8

In [15]:
# create a new variable y from an operation on x
x = 5
y = x * 2
y

10

In [16]:
# outputting values only displays the last thing output
x
y

10

In [17]:
# use print to write some value to the console
print(x)
print(y)

5
10

In [18]:
# you can comma-separate values to print multiple to the console on one line
print(x, y)

5 10

In [19]:
# you can also print the result of an expression
print(x * y)

50

### 1.2.3 Getting help

In [20]:
# ask ipython for it by using '?'
len?

In [ ]:
# use tab-completion to fill in the rest of statements, functions, methods
prin

In [21]:
# tab-completion also works with variables you have created (ie, a variable in memory)
number_of_students = 10

In [ ]:
numbe

In [21]:
# what about errors? you can't divide by zero...
12/0

ZeroDivisionError: division by zero

For syntax errors or how to do something, Google it! StackOverflow is a particularly good site for code snippets and troubleshooting.

### 1.2.4 Basic data types

Data in Python is interpreted as having a **type**.  In low-level, compiled languages like C or C++, the programmer has to explicitly declare the type of each variable before actually using it.  In Python, the type is inferred at run time, and you can always ask Python what the type of an object is:

In [22]:
# integers are whole numbers
type(125)

int

In [23]:
# every variable has a data type, and they can be of any type
x = 125
type(x)

int

In [24]:
# float is a floating point (aka decimal) number
some_rate = 4.3
type(some_rate)

float

In [25]:
# strings are strings of characters
s = 'abc'
type(s)

str

In [26]:
# a list is a collection of elements denoted by square brackets
my_list = [1, 2, 3, 4]
my_list

[1, 2, 3, 4]

In [27]:
type(my_list)

list

In [28]:
# a dictionary is a collection of key:value pairs, denoted by curly braces
person = {'first_name':'Geoff', 'last_name':'Boeing'}
person

{'first_name': 'Geoff', 'last_name': 'Boeing'}

In [29]:
type(person)

dict

### 1.2.5 Working with data types

In [30]:
# divide 2 integers, and you'll get an integer
num1 = 10
num2 = 5
num1 / num2

2.0

In [31]:
# divide 2 integers
num1 = 8
num2 = 5
num1 / num2

1.6

In [32]:
# we really wanted to be diving whole floating point numbers because we want a decimal result
num1 = 8.0
print(type(num1))

num2 = 5
print(type(num2))

num3 = num1 / num2
print(type(num3))

num3

<class 'float'>
<class 'int'>
<class 'float'>

1.6

### 1.2.6 Strings

In [33]:
# some of the operators we saw earlier work on strings
city = 'Berkeley'
sep = ', '
state = 'California'
zip_code = '94703'

location = city + sep + state + ' ' + zip_code
print(location)

Berkeley, California 94703

In [34]:
zip_code = 02492

SyntaxError: invalid token (<ipython-input-34-e4050ead4bc2>, line 1)

In [35]:
# the zip code 02492 isn't actually a number, it's a string of numeric characters
zip_code = '02492'

In [36]:
# multiplying a string just duplicates it
zip_code * 3

'024920249202492'

In [37]:
# you can get the nth element from an iterable object (like a string) with [n] indexing notation
# remember, in Python the index starts with zero not one
print(location[0])
print(location[1])
print(location[2])

B
e
r

In [38]:
# how many characters are in this string?
len(location)

26

In [39]:
# get a substring from some position up to but not including a seond position
location[2:5]

'rke'

In [40]:
# get the first n characters from the string
location[:5]

'Berke'

In [41]:
# get the characters from the string after the nth position
location[5:]

'ley, California 94703'

In [42]:
# you can replace characters in a string with the replace() method
location.replace('e', 'E')

'BErkElEy, California 94703'

### 1.2.7 Converting between types

In [43]:
zip_code

'02492'

In [44]:
# you can convert between data types
type(zip_code)

str

In [45]:
# convert the zip code string to an integer
zip_code = int(zip_code)
zip_code

2492

In [46]:
type(zip_code)

int

In [47]:
# the math works better now
zip_code * 2

4984

In [48]:
x = 3
print(x * 2)
y = str(x)
print(y * 2)

6
33

In [49]:
# the int function won't convert a string that looks like a floating point number
rent_str = '2500.00'
rent_int = int(rent_str)

ValueError: invalid literal for int() with base 10: '2500.00'

In [50]:
# but you can daisy chain functions together to conver the string to a float then to an int
rent_int = int(float(rent_str))
rent_int

2500

In [53]:
# you cannot concatenate a string and a number
city = 'Houston '
zip_code = 77023
city + zip_code

TypeError: can only concatenate str (not "int") to str

In [54]:
# convert the number first, then concatenate
city + str(zip_code)

'Houston 77023'

### 1.2.8 Lists

In [55]:
my_list = [2, 4, 6, 8]

In [56]:
# how many elements are in this list?
len(my_list)

4

In [57]:
# get the zero-th element in a list
my_list[0]

2

In [58]:
# you can update elements in a list because it is mutable
my_list[2] = 100
my_list

[2, 4, 100, 8]

In [59]:
# add a new element with the append() method
# lists can hold elements of varying data types
my_list.append('hello')
my_list

[2, 4, 100, 8, 'hello']

In [60]:
# you can also add lists to concatenate them
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

### 1.2.9 Dictionaries

In [61]:
antonyms = {'hot':'cold', 'fast':'slow', 'good':'bad'}
antonyms

{'hot': 'cold', 'fast': 'slow', 'good': 'bad'}

In [62]:
# you can access things in a dictionary using its keys
antonyms['hot']

'cold'

In [63]:
# you can update values in a dictionary because it is mutable
antonyms['hot'] = 'freezing'
antonyms

{'hot': 'freezing', 'fast': 'slow', 'good': 'bad'}

In [64]:
# what are all the keys in this dict?
antonyms.keys()

dict_keys(['hot', 'fast', 'good'])

In [65]:
# what are all the values in this dict?
antonyms.values()

dict_values(['freezing', 'slow', 'bad'])

### <font color='red'>Exercise 1.1</font> <br>

Write a Python program to print the following string in a specific format. <br>
- Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are" <br>
- Expected output : <br>

Twinkle, twinkle, little star,  
&emsp;&emsp; I wonder what you are!   
&emsp;&emsp;&emsp;&emsp;Up above the world so high,  		
&emsp;&emsp;&emsp;&emsp;Like a diamond in the sky. <br>
Twinkle, twinkle, little star, <br>
&emsp;&emsp;How I wonder what you are

In [2]:
#print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

### <font color='red'>Exercise 1.2</font> <br>

Write a Python program which accepts the radius of a circle from the user and compute the area. <br>
- In geometry, the area enclosed by a circle of radius r is $\pi r^{2}$. Here the Greek letter $\pi$ represents a constant, approximately equal to 3.14159, which is equal to the ratio of the circumference of any circle to its diameter. (import $<pi>$ from $<math>$ library)

In [2]:
#from math import pi
#r = float(input ("Input the radius of the circle : "))
#print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

### <font color='red'>Exercise 1.3</font> <br>

Write a python program to generate and print a list of prime mumbers between 0 and 30. <br>
From that list, print the 4th prime number and 7th prime number as srings.

- Expected output 01: [2, 3, 5, 7, 11, 13, 17, 23, 29]
- Expected output 02: The 4th prime number is 7 and 7th prime number is 17.

In [3]:
#prime_list = [2, 3, 5, 7, 11, 13, 17, 23, 29]
#print (prime_list)
#print ("The 4th prime number is " + str(prime_list[3]) +  " and 7th prime number is " + str(prime_list[6]))

### <font color='red'>Exercise 1.4</font> <br>

Write a python program to produce a dictionary with integers between 0 and 6 as the "keys" and there cubic values as the corresponding "values"

- Expected output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [4]:
#dict_01 = {1:1, 2:4, 3:9, 4:16, 5:25}
#print (dict_01)

### <font color='red'>Exercise 1.5</font> <br>

Write python statements to print the answers to following questions based on a given list of numbers : [2, 4, 6, 8, 10]

1. Number of elements in the list?
2. The value of the element in the zero-th position of the list?
3. The data type of this element in the zero-th position?
4. Convert that element from an "integer" to a "string" using the str() function.
5. Check the data type that results from that str() function operating on our list element.
6. Create a new list to contain the string versions of our integers.
7. Store (string converted) all elements in the given list in the string list you just created.